<!doctype html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>MiniWiki</title>
        <link href="/static/style.css" rel="stylesheet" />
    </head>
    <body>
        {{ .Content }}
    </body>
</html>

